<div class="people">
    <img src="/images/luke.jpg" alt="Luke" />
    <p>Name: {{luke}}</p>
    <p>Height: {{heightLuke}}</p>
    <p>Homeworld: {{lukeWorld}}</p>
</div>
<div class="people">
    <img src="/images/leia.jpg" alt="Leia" />
    <p>Name: {{leia}}</p>
    <p>Height: {{heightLeia}}</p>
    <p>Homeworld: {{leiaWorld}}</p>
</div>
<div class="people">
    <img src="/images/vader.jpg" alt="vader" />
    <p>Name: {{vader}}</p>
    <p>Height: {{heightVader}}</p>
    <p>Homeworld: {{vaderWorld}}</p>
</div>



