<div class="people">
    <img src="/images/luke.jpg" alt="Luke" />
    <p>Name: {{luke}}</p>
    <p>Height: {{heightLuke}} cm</p>
</div>
<div class="people">
    <img src="/images/leia.jpg" alt="Leia" />
    <p>Name: {{leia}}</p>
    <p>Height: {{heightLeia}} cm</p>
</div>
<div class="people">
    <img src="/images/vader.jpg" alt="vader" />
    <p>Name: {{vader}}</p>
    <p>Height: {{heightVader}} cm</p>
</div>
<div class="people">
    <img src="/images/r2.jpg" alt="r2" />
    <p>Name: {{r2}}</p>
    <p>Height: {{heightR2}} cm</p>
</div>
<div class="people">
    <img src="/images/c3po.png" alt="c3po" />
    <p>Name: {{c3po}}</p>
    <p>Height: {{heightC3po}} cm</p>
</div>



